[Desktop Entry]
Name=Guestbook Kiosk Client
Comment=A kiosk application for guest check-in using HID devices
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 guestbook-client
Icon=guestbook-client
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=true
StartupWMClass=guestbook-client
